body {
    background-color: White;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    display:grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

canvas {
    /* width: 75vw; */
    /* height: 75vh; */
    border: 2px solid black;
    background-color: #87ceeb;
    /* width: 600px; */
    /* height: 600px; */
}